// fonts
$default-fonts: Arial, sans-serif

+font('Marmelad', 'Marmelad-Regular')
+font('YesevaOne', 'YesevaOne')
+font('Maya', 'Maya')
+font('Candara', 'Candara')
+font('Candara Bold', 'Candara-Bold')
+font('Candara Italic', 'Candara-Italic')
+font('Candara BoldItalic', 'Candara-BoldItalic')

=maya
	font-family: 'Maya', $default-fonts
	
=marmelad
	font-family: 'Marmelad', $default-fonts
	
=yeseva
	font-family: 'YesevaOne', $default-fonts
	
=candara
	font-family: 'Candara', $default-fonts
	
=candara-b
	font-family: 'Candara Bold', $default-fonts
	
=candara-i
	font-family: 'Candara Italic', $default-fonts
	
=candara-bi
	font-family: 'Candara BolidItalic', $default-fonts

// colors
// $black: #000

=border
	border: 1px solid #fff
	border-right-color: #edeef0
	border-bottom-color: #edeef0


/* ===================================
	 Main Styles
	 =================================== */
body
	min-width: 320px
	+candara
	font-size: 14px
	color: #3b3b3b
	line-height: 1.14
	background: #fff url('../img/bg.png') 0 0 repeat

.wrapper
	position: relative
	overflow: hidden
	margin: 0 auto
	max-width: 980px
	min-height: 100%
	background-color: #3263a5
	background-image: radial-gradient(circle 678px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	box-shadow: inset -1px -1px 0 rgba(237, 238, 240, .6)

.wrap
	//+container
	transition: all 0.3s


/* Helpers
	----------------------------------- */
//*
	-webkit-font-smoothing: antialiased
	
h1,
h2,
h3,
h4,
h5,
h6
	font-weight: normal

button
	background-color: transparent

a:hover, a:focus
	text-decoration: none

a
	color: inherit
	text-decoration: none

table
	vertical-align: top

img
	vertical-align: top

.icon
	display: inline-block
	vertical-align: middle

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.is-hidden
	display: none

.cfx
	+pie-clearfix

// *
// 	+selection
// 		color: #fff
// 		background-color: $red

.btn
	text-align: center
	&_green
		height: 32px
		padding-top: 4px
		+candara-b
		font-size: 17px
		color: #ffffff
		line-height: 1.2
		border-radius: 16px
		background-color: #578924
		background-image: linear-gradient(to top, #4a761e 0%, #a8d046 100%)
		box-shadow: inset 0 -1px 5px rgba(186, 229, 82, 0.75), 0 3px 4px rgba(60, 88, 22, 0.78)
		-webkit-font-smoothing: antialiased
	&_green-lg
		display: inline-block
		padding-top: 6px
		width: 270px
		+candara-b
		font-size: 20px
		color: #ffffff
		line-height: 70px
		text-shadow: 0 2px 2px rgba(68, 35, 34, 0.17)
		border-radius: 5px
		background-color: #799f40
		box-shadow: inset 0 -1px 1px rgba(60, 88, 22, 0.6), 0 10px 30px rgba(60, 88, 22, 0.6)
		-webkit-font-smoothing: antialiased
		transition: all 0.3s
		&:hover
			background-color: darken(#799f40,5)
		
.h1
	padding: 7px 25px
	+candara-b
	font-size: 25px
	color: #5e7791
	+r(1023)
		margin-left: -100px
	+r(719)
		padding-left: 10px
		padding-right: 10px
		

/* ===================================
	 Aside
	 =================================== */
.section
	+pie-clearfix
	
.aside
	position: relative
	float: left
	width: 260px
	+pie-clearfix
	+r(1023)
		width: 100px
	& + &
		float: none
		margin-left: 260px
		width: auto
		+r(1023)
			margin-left: 100px
	&__hamburger
		display: none
		float: right
		height: 80px
		+border
		+pie-clearfix
		+r(1023)
			display: block
		+r(767)
			float: none
			background-color: #e67c78
			background-image: radial-gradient(circle 509px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
		
.footer
	position: absolute
	z-index: 1
	bottom: 0
	left: 0
	width: 260px
	text-align: center
	+r(1024)
		position: relative
		width: auto
	&__bottom
		padding: 10px 0
	&__link
		font-size: 16px
		color: #5e7791
		text-decoration: underline
	&__copy
		font-size: 18px
		margin-bottom: 10px
	&__text
		margin-left: auto
		margin-right: auto
		font-size: 12px
		padding: 0 5px
		max-width: 480px
		&-link
			color: #5e7791
			text-decoration: underline
	
.online
	padding: 20px 0
	&__title
		font-size: 16px
		margin-bottom: 10px
	&__count
		display: inline-block
		+candara-b
	&__text
		display: inline-block
	
.logo
	height: 226px
	background-color: #e67c78
	background-image: radial-gradient(circle 170px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	+vertical
	+r(1023)
		height: 80px
		display: block
		&:before
			display: none
			content: none
	+r(767)
		position: relative
		width: calc(100vw - 46px)
		z-index: 1
	&__link
		position: relative
		margin-top: -20px
		display: inline-block
		vertical-align: middle
		+r(1023)
			display: block
			margin-top: 0
			height: 100%
			padding: 10px
		+r(767)
			padding: 0 10px
	&__img
		+r(1023)
			height: 100%
		&-hover
			opacity: 0
			position: absolute
			left: 45px
			top: 10px
			z-index: 1
			transition: all 0.5s
			+r(1024)
				display: none
	&__link:hover &__img-hover
		opacity: 1
		
.block
	background-color: #5d3b80
	background-image: radial-gradient(circle 170px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	&_lg
		padding: 25px 0 40px
		
.login
	padding-top: 12px
	padding-bottom: 10px
	height: 340px
	min-height: 340px
	background-color: #5d3b80
	background-image: radial-gradient(circle 170px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	+r(1023)
		display: none
		position: absolute
		top: 130px
		left: 0
		width: 100vw
		z-index: 3
		~ .block
			display: none
	+r(767)
		top: 315px
	&_active
		height: auto
		padding: 25px 10px 25px 25px
	&__form
		margin: 0 auto
		padding: 60px 25px 0
		width: 209px
		height: 334px
		background: url(../img/form.png) center center no-repeat
		background-size: 100%
	&__socials
		margin-left: 45px
		margin-top: -70px
		+r(1023)
			margin-left: auto
			margin-right: auto
			width: 169px
	&__settings
		+r(639)
			padding-left: 30%
		+r(479)
			padding-left: 25%
		
.settings
	font-size: 0
	&__link
		position: relative
		display: inline-block
		padding-left: 42px
		height: 34px
		font-size: 0
		min-width: 55%
		& + &
			margin-top: 13px
	&__icon
		position: absolute
		left: 0
		top: 0
		opacity: 1
		transition: opacity 0.3s
		&:nth-child(2),
		&:nth-child(4)
			opacity: 0
			left: -10px
			top: -3px
		&:nth-child(3)
			opacity: 0
	&__link:hover &__icon,
	&__link.is-active &__icon
		opacity: 0
	&__link:hover &__icon:nth-child(2),
	&__link.is-active &__icon:nth-child(2)
		opacity: 1
	&__link.is-man &__icon
		opacity: 0
	&__link.is-man &__icon:nth-child(3)
		opacity: 1
	&__link.is-man:hover &__icon:nth-child(3),
	&__link.is-man.is-active &__icon:nth-child(3)
		opacity: 0
	&__link.is-man:hover &__icon:nth-child(4),
	&__link.is-man.is-active &__icon:nth-child(4)
		opacity: 1
	&__text
		display: inline-block
		font-size: 14px
		color: #4c8313
		line-height: 34px
		vertical-align: middle
	&__notification
		position: relative
		top: -1px
		display: inline-block
		margin-left: 10px
		width: 16px
		height: 16px
		font-size: 12px
		color: #ffffff
		line-height: 16px
		text-align: center
		background-color: #c67877
		background-image: linear-gradient(to top, #ea7d79 0%, #fa9591 100%)
		border-radius: 50%
		box-shadow: 0 9px 13px rgba(184, 71, 66, 0.4)
		vertical-align: middle
		
.form
	&-error
		display: none
	&__field
		position: relative
		+pie-clearfix
		& + &
			margin-top: 14px
			&_btn
				margin-top: 7px
		&_btn + &
			margin-top: 10px
	&__error
		position: absolute
		padding-top: 6px
		z-index: 1
		bottom: 100%
		left: -7px
		display: none
		+candara-b
		font-size: 16px
		color: #ffffff
		line-height: 1.44
		text-align: center
		-webkit-font-smoothing: antialiased
	&__input.error + &__error
		display: block
	&__input
		display: block
		width: 100%
		padding: 0 10px
		+candara-b
		font-size: 14px
		line-height: 26px
		text-shadow: 0 5px 3px rgba(213, 213, 213, 0.76)
		background-color: transparent
		+placeholder-color(#779fc5)
		&_password
			padding-right: 35px
		&.error
			+placeholder-color(darken(red,5))
	&__eye
		overflow: hidden
		position: absolute
		top: 0
		right: 0
		height: 26px
		width: 32px
		cursor: pointer
		+vertical
		text-align: left
		.icon
			position: relative
			top: 3px
			display: inline-block
			vertical-align: middle
	&__button
		display: block
		width: 100%
	&__checkbox
		position: relative
		top: -1px
		vertical-align: middle
		margin-right: 5px
	&__label
		cursor: pointer
		+candara
		color: #f5f6f8
		&:hover
			text-shadow: 0 0 2px #eee
	&__forgot
		margin-top: -3px
		display: block
		+candara-i
		color: #f5f6f8
		text-align: center
		text-decoration: none
		&:hover
			text-shadow: 0 0 2px #eee
		
.socials
	+pie-clearfix
	&__link
		position: relative
		float: left
		& + &
			margin-left: 5px
	&__icon
		transition: opacity 0.3s
		& + &
			position: absolute
			top: 0
			left: 0
			opacity: 0
	&__link:hover &__icon
		opacity: 0
	&__link:hover &__icon:nth-child(2)
		opacity: 1
	&__link:nth-child(1) &__icon:nth-child(2)
		top: 7px
		left: 2px
	&__link:nth-child(2) &__icon:nth-child(2)
		top: 6px
		left: 6px
	&__link:nth-child(3) &__icon:nth-child(2)
		top: 8px
		left: 0
	&__link:nth-child(4) &__icon:nth-child(2)
		top: 7px
		left: 4px
	
		

/* ===================================
	 Main
	 =================================== */
.nav
	display: flex
	flex-direction: row
	height: 113px
	background-color: #e67c78
	background-image: radial-gradient(circle 509px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	+r(1023)
		display: none
		position: absolute
		top: 80px
		left: -100px
		right: 0
		height: 50px
		z-index: 2
		text-align: center
	+r(767)
		border: none
	&__link
		position: relative
		top: -28px
		display: block
		flex: 1
		font-size: 0
		text-align: center
		+vertical
		+r(1023)
			top: 0
			padding: 10px
			display: inline-block
		+r(767)
			display: block
			+border
			background-color: #5d3b80
			background-image: radial-gradient(circle 170px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
			&:last-child
				display: none
		&-icon
			position: relative
			display: inline-block
			vertical-align: bottom
			animation: anim-nav 0.5s forwards ease-in-out
			transition: all 0.3s
			&.icon-heart
				top: 5px!important
			+r(1023)
				display: none
		&_heart &-icon
			position: relative
			top: 14px
		&-text
			position: absolute
			left: 0
			right: 0
			bottom: -15px
			font-size: 13px
			color: #333
			line-height: 1
			white-space: nowrap
			-webkit-font-smoothing: antialiased
			+r(1023)
				position: relative
				left: auto
				right: auto
				bottom: auto
				font-size: 18px
				line-height: 1.4
		&:hover &-icon
			animation: anim-nav-hover 1s forwards ease-in-out
			transition: all 1s
	&__link:nth-child(1) &__link-text
		margin-top: -5px
		+r(1023)
			margin-top: 0
		
@keyframes anim-nav
	0%
		transform: translateY(3px)
	100%
		transform: translateY(-10px)

@keyframes anim-nav-hover
	0%
		transform: translateY(-10px)
	25%
		transform: translateY(8px)
	50%
		transform: translateY(-1px)
	75%
		transform: translateY(6px)
	100%
		transform: translateY(3px)
		
.navigation
	position: relative
	display: flex
	flex-direction: row
	padding: 15px 15px 0
	height: 113px
	background-color: #e67c78
	background-image: radial-gradient(circle 509px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	+pie-clearfix
	+r(1023)
		padding: 10px 5px
		height: 80px
	+r(767)
		margin-left: -100px
	+r(479)
		height: 65px
		padding: 10px 0
	&__item
		flex: 1
		padding: 0 5px
		+r(479)
			padding: 0 2px
			max-width: 25%
			white-space: nowrap
	&__link
		display: block
		height: 75px
		border-radius: 5px
		+vertical
		+r(1023)
			height: 55px
		+r(479)
			height: 40px
		&-text
			margin-top: 4px
			display: inline-block
			vertical-align: middle
			+candara-b
			font-size: 20px
			color: #ffffff
			line-height: 1.15
			text-shadow: 0 2px 2px rgba(68, 35, 34, 0.17)
			-webkit-font-smoothing: antialiased
			transform-origin: bottom
			transition: all 0.3s
			+r(767)
				width: auto
				font-size: 16px
			+r(479)
				+candara
				font-size: 14px
			+r(419)
				margin-top: 2px
				font-size: 12px
	&__item:hover &__link-text
		transform: scale(0.8)
	&__item:nth-child(1) &__link,
	&__item:nth-child(1) .navigate__inner
		background-color: #f8adad
		box-shadow: inset 0 -1px 1px rgba(217, 151, 151, 0.75), 0 9px 13px rgba(222, 152, 152, 0.4)
	&__item:nth-child(2) &__link,
	&__item:nth-child(2) .navigate__inner
		background-color: #99d4dd
		box-shadow: inset 0 -1px 1px rgba(124, 175, 183, 0.75), 0 9px 13px rgba(128, 177, 185, 0.4)
	&__item:nth-child(3) &__link,
	&__item:nth-child(3) .navigate__inner
		background-color: #94a5cc
		box-shadow: inset 0 -1px 1px rgba(131, 146, 181, 0.75), 0 9px 13px rgba(128, 142, 175, 0.4)
	&__item:nth-child(4) &__link,
	&__item:nth-child(4) .navigate__inner
		background-color: #484776
		box-shadow: inset 0 -1px 1px rgba(63, 62, 103, 0.75), 0 9px 13px rgba(63, 62, 103, 0.4)
	&__navigate
		display: none
		position: absolute
		z-index: 1
		top: 100%
		left: 20px
		right: 20px
		margin-top: -20px
		padding-top: 40px
		+r(1023)
			margin-top: -12px
			left: 10px
			right: 10px
		+r(479)
			left: 5px
			right: 5px
	&__item:nth-child(1) .navigate__subicon
		left: 9%
		+r(767)
			left: 12.5%
			margin-left: -22px
	&__item:nth-child(2) .navigate__subicon
		left: 34%
		+r(767)
			left: 37.5%
			margin-left: -21px
	&__item:nth-child(3) .navigate__subicon
		left: 59.5%
		+r(767)
			left: 62.5%
			margin-left: -18px
	&__item:nth-child(4) .navigate__subicon
		left: 85%
		+r(767)
			left: 87.5%
			margin-left: -16px
		
.navigate
	&__inner
		padding: 20px
		min-height: 300px
		border-radius: 5px
		+pie-clearfix
	&__col
		float: left
		width: 50%
		padding-bottom: 45px
		+r(639)
			width: 100%
			padding-bottom: 20px
			white-space: normal
		& + &
			padding-bottom: 0
			+r(639)
				padding-bottom: 45px
	&__title
		margin-bottom: 20px
		+candara-b
		font-size: 20px
		color: #ffffff
		text-transform: uppercase
		text-shadow: 0 2px 2px rgba(68, 35, 34, 0.17)
		-webkit-font-smoothing: antialiased
	&__row
		display: block
		+pie-clearfix
		& + &
			margin-top: 15px
	&__icon
		float: left
		position: relative
		top: 5px
		margin-right: 7px
	&__text
		float: left
		+candara-b
		color: #f5f6f7
		text-shadow: 0 2px 2px rgba(178, 161, 161, 0.17)
		font-size: 18px
		-webkit-font-smoothing: antialiased
		&:hover
			text-shadow: 0 0 8px rgba(255,255,255,0.7);
	&__goto
		display: block
		position: absolute
		padding-top: 8px
		z-index: 1
		bottom: 15px
		left: 20px
		width: 185px
		+r(639)
			left: 0
			right: 0
			margin-left: auto
			margin-right: auto
	&__preview
		display: block
		font-size: 0
		width: 100%
		overflow: hidden
		height: 76px
		max-height: 76px
		border-radius: 5px
		box-shadow: inset 0 -1px 1px #6a9ea6, 0 9px 13px rgba(128, 177, 185, 0.4)
		background-color: #ffffff
		-webkit-font-smoothing: antialiased
		+pie-clearfix
		&:hover
			box-shadow: 0px 0px 15px rgba(255,255,255,0.9);
		& + &
			margin-top: 15px
		&-image
			overflow: hidden
			float: left
			width: 75px
			height: 75px
		&-img
			width: 100%
		&-content
			display: table-cell
			padding: 0 10px
			height: 75px
			vertical-align: middle
			+candara-b
			font-size: 18px
			color: #3b3b3b
			line-height: 1.11
			text-shadow: 0 2px 2px rgba(68, 35, 34, 0.17)
			+r(479)
				font-size: 16px
				line-height: 19px
	&__subicon
		position: absolute
		bottom: 100%
		margin-bottom: -40px
		left: 0
		z-index: 2
		
.hamburger
	pointer-events: auto
	-webkit-tap-highlight-color: transparent
	display: none
	margin: 0
	padding: 31px 10px
	z-index: 10
	cursor: pointer
	transition-property: opacity, -webkit-filter
	transition-property: opacity, filter
	transition-property: opacity, filter, -webkit-filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	overflow: visible
	+r(1023)
		display: block
	+r(767)
		float: right
	&__box
		width: 23px
		height: 16px
		display: block
		position: relative
	&__inner
		display: block
		top: 50%
		margin-top: -1px
		width: 23px
		height: 2px
		background-color: #3263a5
		position: absolute
		transition-property: -webkit-transform
		transition-property: transform
		transition-property: transform, -webkit-transform
		transition-duration: 0.15s
		transition-timing-function: ease
		+r(1023)
			background-color: #3263a5
		&::before, &::after
			width: 23px
			height: 2px
			background-color: #3263a5
			position: absolute
			transition-property: -webkit-transform
			transition-property: transform
			transition-property: transform, -webkit-transform
			transition-duration: 0.15s
			transition-timing-function: ease
			+r(1023)
				background-color: #3263a5
		&::before, &::after
			content: ""
			display: block
		&::before
			top: -7px
		&::after
			bottom: -7px
	&.is-white &__inner
		background-color: #3263a5
	&.is-white &__inner:before,
	&.is-white &__inner:after
		background-color: #3263a5
	&_spin &__inner
		transition-duration: 0.3s
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		&::before
			transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
		&::after
			transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
	&.is-active &__inner
		-webkit-transform: rotate(225deg)
		transform: rotate(225deg)
		transition-delay: 0.14s
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
		&::before
			top: 0
			opacity: 0
			transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
		&::after
			bottom: 0
			-webkit-transform: rotate(-90deg)
			transform: rotate(-90deg)
			transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
		
.slider
	overflow: hidden
	height: 364px
	background-color: #5d3b80
	background-image: radial-gradient(circle 509px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	+r(1023)
		margin-left: -100px
	+r(479)
		margin-bottom: 20px
	&__item
		position: relative
		height: 364px
	&__image
		display: block
		height: 364px
	&__img
		width: 100%
		min-height: 100%
	&__card
		position: absolute
		top: 32px
		right: 32px
		z-index: 1
		padding: 20px
		width: 300px
		height: 300px
		background-color: rgba(255,255,255,.9)
		border-radius: 8px
		box-shadow: 0 0 10px rgba(0,0,0,0.3)
		+r(719)
			right: 10px
		&-inner
			height: 202px
			overflow: hidden
		&-title
			padding-left: 2px
			+candara-b
			font-size: 23px
			color: #4c8313
			a
				border-bottom: 1px solid #d2e0c4
			&:hover a
				border-bottom: none
		&-topic
			padding-left: 2px
			display: inline-block
			margin-top: 7px
			margin-bottom: 10px
			+candara-i
			font-size: 14px
			color: #999
			border-bottom: 1px solid #eee
		&-text
			padding-left: 2px
			font-size: 16px
	&__controls
		position: absolute
		padding-left: 2px
		left: 20px
		right: 20px
		bottom: 45px
	.slick-dots
		position: absolute
		z-index: 2
		right: 30px
		top: 300px
		width: 300px
		padding: 0 20px
		text-align: center
		font-size: 0
		+r(719)
			right: 10px
		li
			display: inline-block
			margin: 0 10px
		button
			display: block
			width: 16px
			height: 16px
			border-radius: 50%
			font-size: 0
			background-image: linear-gradient(to top, rgba(211, 216, 223, 1), rgba(255, 255, 255, 1))
			box-shadow: 0 3px 6px #999
		li.slick-active button
			background-image: linear-gradient(to top, rgba(74, 118, 30, .8) 0%, rgba(168, 208, 70, .8) 100%)
			box-shadow: inset 0 -1px 5px rgba(186, 229, 82, 0.75), 0 3px 4px rgba(60, 88, 22, 0.7)
		
		

/* Cards
	----------------------------------- */
.main
	+r(1023)
		margin-left: -100px
	
.cards
	font-size: 0
	&__item
		font-size: 0
		+pie-clearfix
		& + &
			display: none
	&__content
		display: inline-block
		width: 33.33%
		vertical-align: top
		+r(1023)
			width: 33.33%
		+r(639)
			width: 50%
		+r(479)
			width: 100%
		&_lg
			width: 50%
			+r(639)
				width: 100%
			.card:hover .card__content
				transform: translateY(0)
			.card
				width: 310px
				height: 360px
				+r(479)
					height: auto
					width: 100%
				&__image
					height: 180px
				&__text
					+r(479)
						display: block
				&__controls
					+r(479)
						display: block
				&__content
					position: relative
					padding: 10px 20px
					height: auto
					overflow: hidden
					&:before
						content: ''
						position: absolute
						top: 75%
						bottom: 0
						left: 0
						right: 0
						z-index: 0
						pointer-events: none
						background-image: linear-gradient(to top, rgba(255,255,255,.8), rgba(255,255,255,0))
				&__title
					margin-bottom: 10px
					text-align: left
					height: auto
				&__subtitle
					margin-left: 2px
					+candara-i
					font-size: 14px
					color: #999
					border-bottom: 1px solid #eee
					&:hover
						border-bottom: none
				&__text
					margin-top: 8px
					height: auto
					font-size: 16px
					-webkit-line-clamp: 2
				&__controls
					position: relative
					z-index: 1
					margin-top: -5px
					padding-left: 22px
					padding-right: 20px
					padding-bottom: 10px
	
.card
	display: block
	overflow: hidden
	margin: 20px auto
	width: 197px
	height: 195px
	font-size: 14px
	background-color: #ffffff
	border-radius: 10px
	box-shadow: 0 9px 13px rgba(146, 158, 169, 0.4)
	transform: translateZ(0)
	transition: all 0.3s
	&:hover
		box-shadow: 0 0 15px rgba(150,150,250,0.6)
	+r(479)
		margin: 10px auto
		width: 100%
		height: auto
		border-radius: 0
		&:first-child
			margin-top: 0
	&__image
		overflow: hidden
		display: block
		height: 117px
		+r(479)
			height: auto
	&__img
		width: 100%
	&__content
		height: 195px
		padding: 5px
		background-color: #ffffff
		transform: translateY(0)
		transition: all 0.5s
		+r(479)
			height: auto
	&:hover &__content
		transform: translateY(-119px)
		+r(1024)
			transform: translateY(0)
	&__title
		overflow: hidden
		display: block
		display: -webkit-box
		padding: 0 2px
		height: 66px
		+candara-b
		font-size: 17px
		color: #4c8313
		line-height: 22px
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
		text-align: center
		+r(479)
			height: auto
			padding-top: 10px
			padding-bottom: 10px
		&-in
			display: inline
			border-bottom: 1px solid #d2e0c4
		&:hover &-in
			border-bottom: none
	&__text
		overflow: hidden
		display: block
		display: -webkit-box
		height: 80px
		margin-top: 10px
		line-height: 16px
		padding: 0 2px
		-webkit-line-clamp: 5
		-webkit-box-orient: vertical
		+r(479)
			display: none
	&__controls
		margin-top: 10px
		padding: 0 2px
		+pie-clearfix
		+r(479)
			display: none
		&-item
			float: left
			font-size: 0
			color: #d5d5d5
			line-height: 1.43
			+pie-clearfix
			& + &
				margin-left: 10px
	&__icon
		display: inline-block
		margin-right: 5px
		vertical-align: middle
		& + &
			display: none
		&-text
			display: inline-block
			+candara
			color: #999999
			font-size: 14px
			vertical-align: middle
	&__controls-item:hover &__icon
		display: none
	&__controls-item:hover &__icon + &__icon
		display: inline-block
	&__controls-item:hover &__icon-text
		color: #4c8313
			

/* ===================================
	 Search
	 =================================== */
.searching
	display: none
	position: relative
	margin-left: -100px
	padding: 10px
	+pie-clearfix
	+r(767)
		display: block
	+r(479)
		padding: 10px 5px
	&__input
		display: block
		padding: 0 55px 0 10px
		width: 100%
		+candara-b
		font-size: 18px
		line-height: 2
		color: #454545
		background-color: #fff
		+placeholder-color(#cdcdcd)
	&__submit
		position: absolute
		height: 36px
		width: 48px
		right: 48px
		top: 50%
		margin-top: -18px

.search
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	min-height: 100%
	background-image: radial-gradient(circle 509px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
	+border
	z-index: 100
	+r(1023)
		left: -100px
	&__block
		padding: 20px
		height: 113px
		background-image: radial-gradient(circle 509px at 22.12% 27.43%, white 0%, #f4f5f7 100%)
		+border
	&__form
		position: relative
		border-top: none
		border-left: none
		border-right: none
	&__input
		display: block
		padding-right: 25px
		width: 100%
		height: 100%
		+candara-b
		font-size: 18px
		line-height: 2
		color: #454545
		background-color: transparent
		+placeholder-color(#cdcdcd)
	&__cancel
		position: absolute
		display: block
		z-index: 1
		top: 50%
		right: 20px
		margin-top: -8px
		cursor: pointer
	&__item
		display: table
		width: 100%
		table-layout: fixed
	&__image
		display: table-cell
		width: 72px
		vertical-align: middle
		&-in
			overflow: hidden
			display: block
			height: 72px
			border-radius: 5px
	&__img
		width: 100%
	&__content
		display: table-cell
		padding-left: 20px
		padding-right: 50px
		line-height: 1.2
		vertical-align: middle
	&__title
		+candara-b
		font-size: 18px
		color: #5d3b80
		&-text
			border-bottom: 1px solid #d5cddf
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
	&__topic
		margin-top: 9px
		font-size: 14px
		color: #cdcdcd
	&__text
		margin-top: 7px
		font-size: 14px
		color: #454545
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis



/* ===================================
	 Other Styles
	 =================================== */

