extend includes/_layout
block title
	title Index
block content
	//begin wrapper
	.wrapper
		//begin section
		.section
			//begin aside
			aside.aside
				//begin logo
				.logo
					a.logo__link(href='index.html')
						img.logo__img(src='img/logo.png')
						img.logo__img-hover(src='img/laugh.png')
				//end logo

				//begin login
				.login.js-login
					form.login__form.form(action='#')
						.form__field
							input.form__input(type='text' placeholder='Введите ваш логин' data-validation="required")
						.form__field
							input.form__input.form__input_password.js-pass(type='password' placeholder='Пароль' data-validation="required")
							.form__error.icon-error-password.js-hide-error Ошибка в пароле
							.form__eye.js-show-pass
								.icon.icon-eye
						.form__field.text-center
							input.form__checkbox(type='checkbox' checked='checked' id='userRemember')
							label.form__label(for='userRemember') запомнить меня
						.form__field.form__field_btn
							button.form__button.btn.btn_green(type='submit') Войти
						.form__field
							button.form__button.btn.btn_green(type='button') Регистрация
						.form__field
							a.form__forgot(href='#') Забыли пароль?
					//begin socials
					.login__socials.socials
						a.socials__link(href='#')
							.socials__icon.icon-vk
							.socials__icon.icon-vk-hover
						a.socials__link(href='#')
							.socials__icon.icon-fb
							.socials__icon.icon-fb-hover
						a.socials__link(href='#')
							.socials__icon.icon-tw
							.socials__icon.icon-tw-hover
						a.socials__link(href='#')
							.socials__icon.icon-od
							.socials__icon.icon-od-hover
					//end socials
				//end login

				//begin social
				.social.block.text-center
					img(src='img/socials.png' alt='image')
				//end social
			//end aside

			//begin aside
			.aside
				aside
					//begin search
					.search.js-search
						form.search__form.search__block(action='#')
							input.search__input(type='text' placeholder='Введите слово для поиска')
							button.search__cancel.icon-cancel.js-form-clear(type='button')
						.search__results
							.search__item.search__block
								.search__image
									a.search__image-in(href='#')
										img.search__img(src='img/content/search-result.jpg' alt='image')
								.search__content
									.search__title
										a.search__title-text(href='#') Результат поиска
									.search__topic Название раздела
									.search__text Дуров, верни сеть: Как основатели «ВКонтакте» потеряли контроль» в потоке. Дуров, верни сеть: Как основатели «ВКонтакте» потеряли контроль» в потоке.
							.search__item.search__block
								.search__image
									a.search__image-in(href='#')
										img.search__img(src='img/content/search-result.jpg' alt='image')
								.search__content
									.search__title
										a.search__title-text(href='#') Другой результат поиска
									.search__topic Название раздела
									.search__text Дуров, верни сеть: Как основатели «ВКонтакте» потеряли контроль» в потоке. Дуров, верни сеть: Как основатели «ВКонтакте» потеряли контроль» в потоке.
					//end search

					//begin header
					nav.nav.js-nav
						a.nav__link.nav__link_forum(href='#')
							.nav__link-icon.icon-forum
							.nav__link-text Форум
						a.nav__link.nav__link_name(href='#')
							.nav__link-icon.icon-name
							.nav__link-text Выбор имени
						a.nav__link.nav__link_heart(href='#')
							.nav__link-icon.icon-heart
							.nav__link-text Красота и здоровье
						a.nav__link.nav__link_cake(href='#')
							.nav__link-icon.icon-cake
							.nav__link-text Рецепты
						a.nav__link.nav__link_subscribe(href='#')
							.nav__link-icon.icon-subscribe
							.nav__link-text Подписаться
						a.nav__link.nav__link_search.js-toggle-search(href='#')
							.nav__link-icon.icon-search
							.nav__link-text Поиск
					//end header

					.aside__hamburger
						//begin hamburger
						.hamburger.hamburger_spin.js-hamburger.is-white
							.hamburger__box
								.hamburger__inner
						//end hamburger

					//begin navigation
					.navigation.js-navigation
						.navigation__item
							a.navigation__link(href='#')
								.navigation__link-text Подготовка
							.navigation__navigate.navigate.js-navigate
								.navigate__inner
									.navigate__subicon.icon-navigation-icon-1
									.navigate__col
										.navigate__title Главные темы
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 1 триместр (1-10 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 2 триместр ( 11-26 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 3 триместр ( 27-40 недель)
										a.navigate__goto.btn.btn_green(href='#') Перейти в раздел
									.navigate__col
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-1.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Тест на беременность днем
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-2.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Благоприятные дни для зачатия
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-3.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Двойняшки, что с ними делать?
						.navigation__item
							a.navigation__link(href='#')
								.navigation__link-text Беременность
							.navigation__navigate.navigate.js-navigate
								.navigate__inner
									.navigate__subicon.icon-navigation-icon-2
									.navigate__col
										.navigate__title Главные темы
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 1 триместр (1-10 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 2 триместр ( 11-26 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 3 триместр ( 27-40 недель)
										a.navigate__goto.btn.btn_green(href='#') Перейти в раздел
									.navigate__col
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-1.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Тест на беременность днем
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-2.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Благоприятные дни для зачатия
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-3.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Двойняшки, что с ними делать?
						.navigation__item
							a.navigation__link(href='#')
								.navigation__link-text Роды
							.navigation__navigate.navigate.js-navigate
								.navigate__inner
									.navigate__subicon.icon-navigation-icon-3
									.navigate__col
										.navigate__title Главные темы
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 1 триместр (1-10 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 2 триместр ( 11-26 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 3 триместр ( 27-40 недель)
										a.navigate__goto.btn.btn_green(href='#') Перейти в раздел
									.navigate__col
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-1.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Тест на беременность днем
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-2.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Благоприятные дни для зачатия
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-3.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Двойняшки, что с ними делать?
						.navigation__item
							a.navigation__link(href='#')
								.navigation__link-text Ребенок
							.navigation__navigate.navigate.js-navigate
								.navigate__inner
									.navigate__subicon.icon-navigation-icon-4
									.navigate__col
										.navigate__title Главные темы
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 1 триместр (1-10 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 2 триместр ( 11-26 недель)
										a.navigate__row(href='#')
											.navigate__icon.icon-navigate-icon
											.navigate__text 3 триместр ( 27-40 недель)
										a.navigate__goto.btn.btn_green(href='#') Перейти в раздел
									.navigate__col
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-1.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Тест на беременность днем
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-2.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Благоприятные дни для зачатия
										a.navigate__preview(href='#')
											.navigate__preview-image
												img.navigate__preview-img(src='img/content/preview-3.jpg' alt='image')
											.navigate__preview-content
												.navigate__preview-text Двойняшки, что с ними делать?
					//end navigation

					h1.h1.block Беременность, роды, воспитание детей и многое другое на портале для мам и пап Best-Mother.ru

					.slider.js-slider
						.slider__item
							a.slider__image(href='#')
								img.slider__img(src='img/content/slider-1.jpg' alt='image')
							.slider__card
								.slider__card-inner
									h3.slider__card-title
										a(href='#') В чем носить ребенка? Виды слингов, выбираем оптимальное.
									a.slider__card-topic(href='#') Дети
									p.slider__card-text Посещая дошкольное учреждение, никто из малышей не застраховав от детских болезней в саду. Какие из детских болезней в саду. Какие из них самые распространённые и как не...
								.slider__controls.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26
						.slider__item
							a.slider__image(href='#')
								img.slider__img(src='img/content/slider-2.jpg' alt='image')
							.slider__card
								.slider__card-inner
									h3.slider__card-title
										a(href='#') В чем носить ребенка?
									a.slider__card-topic(href='#') Дети
									p.slider__card-text Посещая дошкольное учреждение! распространённые и как не...
								.slider__controls.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26
						.slider__item
							a.slider__image(href='#')
								img.slider__img(src='img/content/slider-3.jpg' alt='image')
							.slider__card
								.slider__card-inner
									h3.slider__card-title
										a(href='#') В чем носить ребенка? Виды слингов!
									a.slider__card-topic(href='#') Дети
									p.slider__card-text Посещая дошкольное учреждение, никто из малышей не застраховав от детских болезней в саду.
								.slider__controls.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26
						.slider__item
							a.slider__image(href='#')
								img.slider__img(src='img/content/slider-1.jpg' alt='image')
							.slider__card
								.slider__card-inner
									h3.slider__card-title
										a(href='#') В чем носить ребенка? Виды слингов, выбираем оптимальное.
									a.slider__card-topic(href='#') Дети
									p.slider__card-text Посещая дошкольное учреждение, никто из малышей не застраховав от детских болезней в саду. Какие из них самые распространённые и как не...
								.slider__controls.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26
						.slider__item
							a.slider__image(href='#')
								img.slider__img(src='img/content/slider-2.jpg' alt='image')
							.slider__card
								.slider__card-inner
									h3.slider__card-title
										a(href='#') В чем носить ребенка? Виды слингов, выбираем оптимальное.
									a.slider__card-topic(href='#') Дети
									p.slider__card-text Посещая дошкольное учреждение, никто из малышей не застраховав от детских болезней в саду. Какие из них самые распространённые и как не...
								.slider__controls.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26

				//begin main
				main.main
					//begin cards
					.cards
						.cards__content.cards__content_lg.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-1.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Стандарты дошкольного образования: оснащение детского сада
									a.card__subtitle(href='#') Детский сад
									.card__text Чем занять компанию ребят? Чем занять компанию ребят? Чем занять компанию ребят? Чем занять компанию ребят? Чем занять компанию ребят?
								.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26
							//end card
						.cards__content.cards__content_lg.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-1.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									a.card__subtitle(href='#') Детский сад
									.card__text Чем занять компанию ребят?
								.card__controls
									button.card__controls-item(type='button')
										.card__icon.icon-card-comment
										.card__icon.icon-card-comment-hover
										.card__icon-text 115
									button.card__controls-item(type='button')
										.card__icon.icon-card-heart
										.card__icon.icon-card-heart-hover
										.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-1.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-2.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Время мишек: защищаем ребенка
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-3.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Все об углеводах: 11 вопросов и не меньше ответов
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-4.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Пицца с тунцом
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-5.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-6.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Время мишек: защищаем ребенка
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-7.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Все об углеводах: 11 вопросов и не меньше ответов
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-8.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-9.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-10.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-1.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-2.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-3.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-4.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-5.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-6.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-7.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-8.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-9.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-10.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
						.cards__content.block
							//begin card
							.card
								a.card__image(href='#')
									img.card__img(src='img/content/card-10.png' alt='image')
								.card__content
									a.card__title(href='#')
										.card__title-in Двойняшки, что с ними делать?
									.card__text Чем занять компанию ребят на детском празднике? Представляем обзор настольных игр способных увлечь любого ребенка увлечь любого ребенка.
									.card__controls
										button.card__controls-item(type='button')
											.card__icon.icon-card-comment
											.card__icon.icon-card-comment-hover
											.card__icon-text 115
										button.card__controls-item(type='button')
											.card__icon.icon-card-heart
											.card__icon.icon-card-heart-hover
											.card__icon-text 26
							//end card
					//end cards
					.block.block_lg.text-center
						button.btn.btn_green-lg(type='button') Показать больше статтей
				//end main
			//end aside
		//end section

		//begin footer
		footer.footer
			//begin online
			.online.block
				.online__title Сейчас на сайте:
				.online__row
					.online__count 198
					.online__text гостей
			//end online
			.footer__bottom.block
				a.footer__link(href='#') Реклама на портале
				.footer__copy © 2005 — 2016
				p.footer__text Материалы и информация, представленная на сайте <a class='footer__text-link' href='#'>Best-Mother.ru</a> в том или ином виде, носит информационно - рекомендательный характер и ее нельзя заменить очной консультацией со специалистом. Копирование материалов запрещено.
		//end footer
	//end wrapper